.card {
	position: relative;
	width: 18.75rem;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 4px 4px 12px #d0d0d0;
}

.card-img {
	height: 200px;
	width: 300px;
	overflow: hidden;
}

.card-img > * {
	object-fit: cover;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.card-about {
	display: flex;
	flex-direction: column;
	padding: 8px 0;
}

.card-about-content {
	display: flex;
	justify-content: space-between;
	padding: 4px 8px;
}

.card-title {
	font-size: 16px;
	font-weight: 600;
}

.btn-fav {
	padding: 8px 16px;
	background-color: blue;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 500;
	width: fit-content;
	align-self: center;
}

.btn-fav:hover {
	opacity: 0.8;
}
