.pagination {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

.btn-pagination {
	background-color: blue;
	padding: 8px 16px;
	color: white;
	cursor: pointer;
	border-radius: 8px;
}

.btn-pagination:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
